
*.xcuserstate

!DerivedData/
DerivedData/*
!DerivedData/ScanX/
DerivedData/ScanX/*
!DerivedData/ScanX/Build/
DerivedData/ScanX/Build/*
!DerivedData/ScanX/Build/Products/
DerivedData/ScanX/Build/Products/*
!DerivedData/ScanX/Build/Products/Debug/
